
<div class="error">
  <%= flash_message %>
</div>

<div class="">

  <h2 class="title is-2 sync_label"><%= @bank.name%> </h2>
  <br>

  <section class="row">
    <div class="statistics2 font_2">
      <div class="col-md-6">
        <ul>
          <li> <strong>Address:</strong> <span class="js-branch-name" >
            <%= "#{@bank.address}" %></span>
          </li>
          <li> <strong>Phone:</strong> <span class="js-address" >
            <%= "#{@bank.phone}" %> </span>
          </li>
          <li> <strong>City:</strong>
            <%= "#{@bank.city}" %>
          </li>
          <li> <strong>State:</strong>
            <%= "#{@bank.state}" %>
          </li>
          <li> <strong>Country:</strong>
            <%= "#{@bank.country}" %>
          </li>
          <br>
        </ul>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-md-12">
      <a href="<%= new_bank_account_path(@bank.id)%>" class="btn" >Create Account for <%= @bank.name%></a>
    </div>
  </section>

</div>


<br>
<a href="<%= root_path %>">Back to Home</a>
