

<%= form_for [@bank,@transfer] do |f| %>
  <div class="field">
  <%= f.label :sender %>
  <select name="transfer[sender]" id="transfer_sender">
    <% (@bank.accounts).each do |i| %>
      <option value="<%= i.iban %>"><%= i.iban+" ("+i.holder+")" %></option>
    <% end %>
  </select>
  </div>
  <br>
  <div class="field">
  <%= f.label :transfer_type %>
  <%= f.text_field :transfer_type, size: 20, value: 'Intra-bank', readonly: true %>
  </div>
  <br>
  <div class="field">
  <%= f.label :beneficiary %>
  (accounts of the same bank)
  <select name="transfer[beneficiary]" id="transfer_beneficiary">
    <% (@bank.accounts).each do |i| %>
      <option value="<%= i.iban %>"><%= i.iban+" ("+i.holder+")" %></option>
    <% end %>
  </select>

  </div>
  <br>
  <div class="field">
  <%= f.label :amount %>
  <%= f.number_field :amount, size: 20, required: true %>€
  </div>
  <br>

  <%= f.submit 'Save' %>

<% end %>
