
 <div class="content-section-a">
      
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"><%= @transfer.id%></h2>
                <ul>
                  <li> <strong>Sender:</strong> <span class="" >
                    <%= "#{@transfer.sender}" %></span>
                  </li>
                  <li> <strong>Beneficiary:</strong> <span class="" >
                    <%= "#{@transfer.beneficiary}" %> </span>
                  </li>
                  <li> <strong>Amount:</strong>
                    <%= "#{@transfer.amount}" %>
                  </li>
                  <li> <strong>Status:</strong>
                    <%= "#{@transfer.status}" %>
                  </li>
                  <br>
                </ul>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
