 <div class="content-section-a">
      
    <div class="container">

        <div class="row">
            <div class="col-lg-5 col-sm-12">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading"><%= @bank.name%>`s accounts</h2>
                <ul>
                  <% @accounts.each_with_index do |account, index| %>
                    <li> <strong>IBAN:</strong> <%= "#{account.iban}" %></li>
                    <li> <strong>Amount:</strong> <%= "#{account.amount}" %></li>
                    <li><a href="<%= bank_account_path(params[:bank_id],account.id) %>">Show</a></li>
                    <br>
                  <% end %>
                </ul>
                <br><a href="<%= new_bank_account_path(@bank.id)%>" class="btn" >Create new Account for <%= @bank.name%></a>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
